* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  background: #FFEDD5;
  color: #2D2C2A;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 2rem;
}

header strong {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  font-family: 'Roboto Serif', sans-serif;
}

header strong span {
  font-family: 'Roboto Serif', sans-serif;
  color: #995000;
}

header p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.container {
  width: 300px;
}

.container strong {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  background-color: #FED7AA;
  display: block;
  margin-bottom: 24px;
}

.card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.price {
  font-family: 'Roboto Serif';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.content-card span {
  font-family: 'Roboto Serif';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0.5rem;
  display: block;
}

.content-card p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}